<h1>Admin Dashboard</h1>
<uL>
    <li>
        <a href="/admin/boats">List of Boats</a>
    </li>
    <li>
        <a href="/admin/filtereduserlist">List of users (just shows username and password)</a>
    </li>
    <li>
        <a href="/admin/userlist">List of users (shows all the info)</a>
    </li>
    <li>
        <a href="/admin/map">map</a>
    </li>
</uL>
